@using System.ComponentModel.DataAnnotations;
@using DNTPersianUtils.Core;
﻿<div class="px-4 py-2 text-justify">
    <h1 class="text-center bold text-2xl ">محاسبه سود (ریال) </h1>
    <EditForm Model="@model" OnValidSubmit="Submited">
        <DataAnnotationsValidator />
        
        <div class="mb-4">
            <label class="block mb-1">قیمت فروش</label>
            <InputNumber @bind-Value=model.SellPrice @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.SellPrice" />

        </div>

        <div class="mb-4">
            <label class="block mb-1">قیمت خرید
                
            </label>
            <InputNumber @bind-Value=model.BuyPrice @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.BuyPrice" />

        </div>

        <div class="mb-4">
            <label class="block mb-1"> کمیسیون
                <span style="color: red;">
                    (حتما کمیسیون پیشفرض را تغییر دهید)
                </span>
            </label>
            <InputNumber @bind-Value=model.Commission @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.Commission" />

        </div>
       
        <div class="mb-4">
            <label class="block mb-1"> هزینه ها</label>
            <InputNumber @bind-Value=model.SellerCost @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.SellerCost" />

        </div>

        <div class="mb-4">
            <label class="block mb-1"> درامد</label>
            <InputNumber @bind-Value=model.Incom @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.Incom" />
        </div>

        <div class="mb-4">
            <label class="block mb-1"> سود</label>
            <InputNumber @bind-Value=model.Profit @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.Profit" />
        </div>

        <div class="mb-4">
            <label class="block mb-1">  درصد سود از فروش</label>
            <InputNumber @bind-Value=model.ProfitPercentSell @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.ProfitPercentSell" />
        </div>

        <div class="mb-4">
            <label class="block mb-1">  درصد سود از درامد</label>
            <InputNumber @bind-Value=model.ProfitPercentIncom @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.ProfitPercentIncom" />
        </div>

        <div class="mb-4">
            <label class="block mb-1">  درصد سود از خرید</label>
            <InputNumber @bind-Value=model.ProfitPercentBuy @bind-Value:format="F2" class="w-full h-10 px-3 text-base placeholder-gray-600 border border-gray-700 rounded-lg focus:shadow-outline" />
            <ValidationMessage For="() => model.ProfitPercentBuy" />
        </div>

        <div class="grid place-items-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">محاسبه</button>

        </div>

    </EditForm>
    
        <div class="font-bold  text-green-500 mt-2 px-4 py-3" role="alert">
            <p>  درامد: @model.Incom.NumberToText(Language.Persian) + " ریال "</p>
        </div>

        <div class="font-bold  text-green-500 mt-2 px-4 py-3" role="alert">
            <p>  سود: @model.Profit.NumberToText(Language.Persian) + " ریال "</p>
        </div>

        <div class="font-bold  text-green-500 mt-2 px-4 py-3" role="alert">
            <p>  درصد سود: @model.ProfitPercentSell.NumberToText(Language.Persian) + " % "</p>
        </div>
    

</div>

@code {
    CalculateProfitViewModel model = new();
    
    public void Submited()
    {
        
        //sell = 1550000
        //buy = 1270000
        //var Tax = (decimal)0.1;
        //commistion = sell * 0.08
        //commistionTax = commistion * 0.09
        //cost = min(800000, max(90000, sell * 0.07))
        //costTax = cost * 0.5 * 0.09
        //incom = sell - commistion - commistionTax - cost - costTax
        //profit = incom - buy
        //profitPercent = profit * 100 / sell
        //print(incom)
        //print(profit)
        //print(profitPercent)

        var sell = model.SellPrice;
        var buy = model.BuyPrice;
        var Tax = (decimal)0.1;
        var commistion = sell * model.Commission/100;
        var commistionTax = commistion * Tax;
        var cost = Math.Min(1000000, Math.Max(150000, sell * (decimal)0.07));
        var costTax = cost * (decimal)0.5 * Tax;
        model.Incom = Math.Round(sell - commistion - commistionTax - cost - costTax - model.SellerCost, 2);
        model.Profit = Math.Round(model.Incom - buy, 2);
        model.ProfitPercentSell = Math.Round(model.Profit * 100 / sell, 2);
        model.ProfitPercentIncom = Math.Round(model.Profit * 100 / model.Incom, 2);
        model.ProfitPercentBuy = Math.Round(model.Profit * 100 / buy, 2);
    }

    /// <summary>
    /// محاسبه سود
    /// </summary>
    public class CalculateProfitViewModel
    {
        [Required(ErrorMessage = "قیمت فروش الزامی است")]
        [Range(1, 10000000000000000000, ErrorMessage = "قیمت فروش باید از صفر بزرگتر باشد")]
        public decimal SellPrice { get; set; }
        [Required(ErrorMessage = "قیمت خرید الزامی است")]
        [Range(1, 10000000000000000000, ErrorMessage = "قیمت خرید باید از صفر بزرگتر باشد")]
        public decimal BuyPrice { get; set; }
        // هزینه های فروشنده
        public decimal SellerCost { get; set; } = 10000;
        // هزینه انبار داری و ...
        public decimal DigiKalaCost { get; set; } = 0;
        public decimal Commission { get; set; } = 9;
        public decimal Incom { get; set; } = 0;
        public decimal Profit { get; set; } = 0;
        public decimal ProfitPercentSell { get; set; } = 0;
        public decimal ProfitPercentIncom { get; set; } = 0;
        public decimal ProfitPercentBuy { get; set; } = 0;
    }
}